@model TempusHiring.Presentation.Models.AccountViewModels.ForgotPasswordViewModel

@{ ViewData["Title"] = "Password recovery"; }

<div class="recovery__main">
    <div class="recovery__container">
        <h2 class="deda">Password recovery</h2>
        <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <div class="fake__form-input">
                    <input asp-for="Email" class="form-input" />
                </div>
                <span asp-validation-for="Email" class="form-span"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="submit__btn">Submit</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}