.filter {
    font-family: "Playfair Display";
}

.categories {
    height: 150px;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.categories__title {
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
}

.categories__list {
    font-weight: 300;
    width: 210px;
    text-transform: capitalize;
    font-size: 15px;
}

.categories__item {
    background-color: #333333;
}

    .categories__item + .categories__item {
        border-top: .8px solid #282828;
    }

    .categories__item:first-child {
        border-radius: 7px 7px 0px 0px;
    }

    .categories__item:last-child {
        border-radius: 0px 0px 7px 7px;
    }

.categories__link {
    display: block;
    color: #aaaaaa;
    padding: 12px 30px;
    transition: color ease .2s;
}

    .categories__link:hover {
        color: #ececec;
    }

.filter__container {
    background-color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
}

.diameter__title {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 12px;
}

.diameter__list {
    width: 210px;
}

.diameter__item {
    border-bottom: .8px solid #2c2c2c;
}

.diameter__link {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    color: #a6a6a6;
    width: 100%;
    display: block;
    padding: 5px;
}

    .diameter__link:hover {
        color: #ececec;
    }

.filter__diameter {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* =============SELECT AREA=============== */
.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    border-radius: 6px;
    background: #444;
    font-family: 'Lato';
    text-transform: uppercase;
    font-size: .8rem;
    color: #fff;
    cursor: pointer;
    padding: 12px 30px 12px 10px;
}

.form-select {
    position: relative;
    width: max-content;
}

.select__item {
    font-family: fantasy;
    font-weight: 400;
}

.form-select::after {
    content: '';
    position: absolute;
    top: calc(50% - 4px);
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: .25s all ease;
    border: solid #686868;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    padding: 3px;
}

.form-select:hover::after {
    border-color: #cb9400;
}
/* ==================End of Select Area================== */

.catalog {
    flex-grow: 1;
}

.main__container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    width: 93%;
}

.catalog__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95.6%;
    margin: auto;
}

.select__group {
    display: flex;
    justify-content: space-between;
    width: 290px;
    flex-wrap: wrap;
}

.search-result {
    font-family: 'Lato';
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    color: #fff;
}

.items {
    border: 1px solid #fff;
}

.item__img {
    background-color: #202020;
    object-fit: cover;
    width: 280px;
    height: 260px;
}

.item__category {
    color: #cb9400;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
}

.item__title {
    font-family: "Playfair Display";
    color: #fff;
    font-weight: 500;
    font-size: 25px;
    position: relative;
}

    .item__title::after {
        content: "";
        display: block;
        height: 1px;
        width: 180px;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #535353;
        position: absolute;
    }

.item__price {
    font-family: 'Lato';
    text-transform: uppercase;
    font-weight: 300;
    color: #cfcfcf;
    font-size: 18px;
}

.item__descr {
    font-family: 'Lato';
    font-weight: 300;
    color: #cfcfcf;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}

.item__wishlist {
    font-family: 'Lato';
    font-weight: 600;
    text-transform: uppercase;
    color: #cfcfcf;
    font-size: 11px;
    text-align: center;
    display: block;
    width: 100%;
}

.item__container:hover {
    max-height: 400px;
}

    .item__container:hover .item__extended-info {
        display: block;
    }

.catalog__item {
    width: min-content;
}

.catalog__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    width: 250px;
    height: 400px;
    position: relative;
    perspective: 1000px;
    margin: 25px 0px;
}

.wrap {
    margin-bottom: 25px;
}

.front__description,
.back__description {
    padding: 26px;
}

.back__description {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

.front__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: 1s;
    backface-visibility: hidden;
}

.front {
    background-color: #242424;
}

.back {
    background-color: #333333;
    transform: rotateY(180deg);
}

.card:hover .front {
    transform: rotateY(180deg);
    cursor: pointer;
}

.card:hover .back {
    transform: rotateY(360deg);
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination__container {
    width: 150px;
    display: flex;
    justify-content: space-around;
}

.pagination__btn {
    font-family: 'Lato';
    padding: 8px 16px;
    font-size: 20px;
    background-color: #454545;
    border-style: none;
    border-radius: 3px;
    color: #fff;
    transition: all ease .3s;
}

    .pagination__btn:hover {
        background-color: #cb9400;
    }

.pagination__btn-active {
    background-color: #cb9400;
}
