@model string

@{ 
    ViewData["Title"] = "Notification";
}

<div class="notification__container">
    <div class="notification__block">
        <h3 class="notification">@Model</h3>
    </div>
</div>