@model ResetPasswordBindingModel

@{
    ViewData["Title"] = "Сброс пароля";
}

<form asp-controller="Account" asp-action="ResetPassword" method="post"
      asp-route-ResetToken="@Model.ResetToken" asp-route-Email="@Model.Email" >
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password"/>
        <span asp-validation-for="Password"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword"/>
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div class="form-group">
        <input type="submit"  value="Reset" />
    </div>
</form>